NODE_ENV=development
PORT=3000
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

TABLESTORE_ENDPOINT=https://<instance>.cn-hangzhou.ots.aliyuncs.com
TABLESTORE_INSTANCE_NAME=<instance-name>
TABLESTORE_ACCESS_KEY_ID=<ak>
TABLESTORE_ACCESS_KEY_SECRET=<sk>
TABLESTORE_TABLE_NAME=gray_data_table
